.left-col {
    /* background:#fff; */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('http://bucket836.oss-cn-shenzhen.aliyuncs.com/wallpaper/381535373.jpeg') no-repeat 0% 20%/ cover;
    width:300px;
    position:fixed;
    opacity:1;
    transition:all .3s ease-in;
    -ms-transition: all .3s ease-in;
    height:100%;
    z-index:999
}

 .article {
-    margin:30px;
-    position:relative;
-    border:1px solid #ddd;
-    border-top:1px solid #fff;
-    border-bottom:1px solid #fff;
-    background:#fff;
-    /* background: rgba(255,255,255,.5); */
-    transition:all .2s ease-in
+    margin: 30px;^M
+    border: 1px solid #ddd;^M
+    border-top: 1px solid #fff;^M
+    border-bottom: 1px solid #fff;^M
+    background: rgba(255,255,255,.5);^M
+    transition: all .2s ease-in^M
 }

body {
    margin:0;
    font-size:14px;
    font-family:Helvetica Neue, Helvetica, STHeiTi, Arial, sans-serif;
    line-height:1.5;
    color:#333;
    /* background-color:#fff; */
    min-height:100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url('https://desk-fd.zol-img.com.cn/t_s960x600c5/g5/M00/02/00/ChMkJlbKw6KIXhXnAA4L-_oxRzUAALG6QBUSg8ADgwT181.jpg') no-repeat 0% 0%/ cover;
}
————————————————
版权声明：本文为CSDN博主「秦时明月之君临天下」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/weixin_41287260/article/details/103050813